body {
    margin: 0;
    padding: 0;
}

.Logo {

    height: 32px;
    width: 185px;
    margin-top: 42px;
    margin-left: 100px;
}

.Header-buttons {
    display: inline-flex;
    flex-direction: row-reverse;
    position: absolute;
    left: 550px;
    top: 40px;
}

.Header-button {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    color: #2F281E;
    border: none;
    background-color: white;
    display: inline-flex;
    flex-direction: row-reverse;
    margin-left: 30px;
}

.Header-buttons2 {
    display: flex;
    flex-direction: row-reverse;
}

.Header-button1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #173A56;
    background-color: white;
    border-radius: 2px;
    border: none;
    margin-top: -5px;
    position: relative;
    left: -100px;
    top: -27px;
}

.Header-button2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
    background-color: #FF9900;
    border-radius: 2px;
    border: none;
    margin-top: -5px;
    position: relative;
    left: -90px;
    top: -27px;
}

section {
    display: flex;
}

.Main-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */
    color: #2F281E;
    margin-top: 113px;
    margin-left: 100px;
    margin-right: 3px;
}

.Main-info {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #544837;
    margin-top: 30px;
    margin-left: 100px;
}

.Image-1 {
    width: 605px;
    height: 496px;
    margin-top: 30px;
    margin-left: 60px;
    display: flex;
}

.Button-1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
    background-color: #FF9900;
    margin-top: 5px;
    margin-left: 100px;
    height: 53px;
    width: 175px;
    border: none;
    border-radius: 2px;
}

.Button-2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #FF9900;
    border: none;
    background-color: #FFFFFF;
}

.Main-title-2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;
    position: absolute;
    display: inline-flex;
    margin-left: 290px;

}

.Container-1 {
    height: 178px;
    width: 240px;
    margin-top: 400px;
    margin-left: 130px;

}

.Container-2 {
    height: 178px;
    width: 240px;
    margin-top: 400px;
    margin-left: 50px;

}

.Container-3 {
    height: 178px;
    width: 240px;
    margin-top: 400px;
    margin-left: 50px;

}

.Container-4 {
    height: 178px;
    width: 240px;
    margin-top: 400px;
    margin-left: 50px;
}

.Cards {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */
    color: #2F281E;
}

.Card-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
}

.Button-3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
    border: none;
    background-color: #FF9900;
    width: 175px;
    height: 53px;
    margin-top: 650px;
    position: absolute;
    left: 600px;

}

.Text-info-2 {
    position: absolute;
    margin-top: 350px;
    margin-left: 130px;
}

.Heading3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #544837;
}

.Title-3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    color: #2F281E;
}

.Heading-3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    color: #2F281E;
}

.Info-3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;

}

.Image-2 {
    display: flex;
    margin-top: 330px;
    margin-left: 700px;
}

.Layout-4 {
    display: flex;
    margin-left: 800px;
    margin-top: 150px;
}

.Heading-4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #544837;
    margin-right: 130px;
}

.Title-4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    color: #2F281E;
}

.Info-4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
}

.Checkbox-1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
    margin-top: 30px;
}

.Checkbox-2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
    margin-top: 30px;
}

.Checkbox-3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
    margin-top: 30px;
}

.Checkbox {
    display: flex;
    margin-left: -60px;
    position: absolute;
}

.Image-3 {
    position: absolute;
    left: 110px;
}

.Layout-5 {
    display: flex;
    margin-left: 130px;
    margin-top: 143px;
}

.Heading5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #544837;
}

.Title-5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    color: #2F281E;
}

.Heading-5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    color: #2F281E;
}

.Info-5 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;

}

.Image-4 {
    display: flex;
    margin-left: 82px;

}

.Logo-2 {
    display: flex;
    margin-top: 249px;
    margin-left: 173px;
    margin-bottom: 44px;
}

.Footer-buttons {
    transform: translateX(550px);
    position: absolute;
}

.Footer-button {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    /* or 219% */
    color: #544837;
    border: none;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.Footer-buttons2 {
    transform: translateX(800px);
}

.Footer-button2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    /* or 219% */
    color: #544837;
    border: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.Footer-button3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    border: none;
    background-color: #FF9900;
    border-radius: 3px;
    display: flex;
    margin-left: 1000px;
    margin-top: -48px;
    margin-bottom: 150px;
}