body {
    margin: 0;
    padding: 0;
}

.Logo {

    height: 32px;
    width: 185px;
    margin-top: 42px;
    margin-left: 144px;
}

section {
    display: flex;
}

.Main-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */
    color: #2F281E;
    margin-top: 211px;
    margin-left: 145px;
    margin-right: 737px;
}

.Main-info {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #544837;
    margin-top: 30px;
    margin-left: 145px;

}

.Image-1 {
    width: 605px;
    height: 496px;
    margin-top: 128px;
    margin-left: 3px;
    display: flex;
}

.Image-2 {
    width: 467px;
    height: 438px;
    margin-top: 29px;
    display: flex;

}

.Button-1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
    background-color: #FF9900;
    margin-top: 15px;
    margin-left: 41px;
    height: 53px;
    width: 175px;
    border: none;

}

.Button-2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #FF9900;
    border: none;
    background-color: #FFFFFF;
}